body {
    font-family: Arial, sans-serif;
    background: #d8d5d5;
    margin: 0;
    padding: 0;
    background-color: grey;
    text-align: center;
}

.container {
    background: beige;
    display: inline-grid;
    width: 50%;
    height: 85%;
    align-items: center;
    justify-content: center
}

githubb {
    margin: 10px;
  }

  githubb a{
    color: #333 ;
    font-size: 20px;
    text-decoration: none;
  }
